{% extends 'template/main.html' %} 
{% load static %}
{% block content %}


<style type="text/css">
/* Centered text */
.center{
  position: absolute;
  top: 54%;
  left: 38%;
  transform: translate(-50%, -50%);
  background-color: black;
  font-size: 45px;
  color: white;

  padding-right: 20px;
  padding-left: 20px;

}
.centered {
  position: absolute;
  top: 59%;
  left: 57%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: black;

}
</style>

<div>
	<img src="{% static '/images/home.jpg'%}" class="img-fluid" >

	<div class="center">IOE</div>
	
	<div class="centered">Student Project <br>Database</div>
              
</div>

{% endblock %}
	

